@use 'sass:color';
@use '../colors';
@use '../fonts';
@use '../mixins';
@use '../variables';

.teaser {
    @include fonts.modesto;

    background: colors.$black-20;
    flex-shrink: 1;
    position: relative;
    width: variables.$teaser-width;
    height: variables.$teaser-height;
    transition:
        color 250ms ease-in-out,
        background 500ms ease-in-out,
        transform 500ms ease-in-out,
        box-shadow 500ms ease-in-out;

    > img {
        margin: auto;
    }

    &.loading {
        @include mixins.loading;
        width: 20rem;
        height: 20rem;
    }

    &:hover {
        background: color.scale(colors.$gray-950, $alpha: -20%);
        color: colors.$text-hover;
        transform: scale(1.15);
        z-index: 999;
    }
}

.teaser-container {
    display: flex;
    gap: 0.5rem;
}
