@use 'sass:color';
@use '../colors';
@use '../fonts';
@use '../mixins';
@use '../variables';

.teaser {
    @include mixins.heavyShadow;

    background: colors.$black-20;
    flex-shrink: 1;
    position: relative;
    width: variables.$teaser-width;
    height: variables.$teaser-height;
    transition:
        color 250ms ease-in-out,
        background 500ms ease-in-out,
        transform 500ms ease-in-out,
        box-shadow 500ms ease-in-out;
    transform-origin: top left;

    > img {
        margin: auto;
    }

    &.loading {
        @include mixins.loading;
        width: 20rem;
        height: 20rem;
    }

    &:hover {
        background: color.scale(colors.$gray-950, $alpha: -20%);
        color: colors.$text-hover;
        transform: scale(1.15);
        z-index: 999;
    }
}

.teaser-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.teaser-title {
    @include fonts.modesto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: colors.$black-80;
    display: flex;
    flex-direction: column;

    h3 {
        font-size: 1.75rem;
        line-height: 1.5rem;
        padding: 0.5rem;
        text-align: center;
        @include mixins.text-shadow;
    }
    span.subtitle {
        display: block;
        font-size: 1.2rem;
        text-align: center;
        @include fonts.mrs-eaves;
        margin-top: -0.5rem;
    }
    .edition-strip {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
