@use 'colors';
@use 'variables';

.badge {
    font-size: 60%;
    padding: 0 0.5rem;
    text-transform: uppercase;
    white-space: nowrap;

    &.rounded {
        border-radius: 50vh;
    }
    &.rounded-left {
        border-top-left-radius: 50vh;
        border-bottom-left-radius: 50vh;
    }
    &.rounded-right {
        border-top-right-radius: 50vh;
        border-bottom-right-radius: 50vh;
    }

    &.text-dark {
        color: colors.$text-dark;
    }
}
.category-badge {
    font-size: 60%;
}
.edition-badge {
    font-size: 80%;
}

$badgeColors: (
    'green' colors.$green-800 colors.$green-500,
    'red' colors.$red-800 colors.$red-500,
    'white' colors.$gray-800 colors.$gray-500
);

@each $name, $normal, $hover in $badgeColors {
    .badge-#{$name} {
        background-color: $normal;
        border: 0.1rem solid $hover;
        color: colors.$gray-100;
        transition: background-color variables.$default-delay ease-in-out;

        &:hover {
            background-color: $hover;
        }
    }
}
