@use 'colors';
@use 'variables';

.border-stripe {
    border-bottom-style: solid;
    border-bottom-width: 0.25rem;
}

@each $edition, $base, $active, $hover in variables.$editions {
    .border-#{$edition} {
        border-bottom-color: $active;
    }
}

.horizontal-divider {
    height: 1px;
    background-image: linear-gradient(
            to right,
            transparent,
            colors.$gray-400 20%,
            colors.$gray-400 50%,
            transparent 100%
    );
}
