@use 'colors';
@use 'variables';

.border-stripe {
    border-bottom-style: solid;
    border-bottom-width: 0.25rem;
}

@each $edition, $base, $active, $hover in variables.$editions {
    .border-#{$edition} {
        border-bottom-color: $active;
    }
}

.horizontal-divider {
    height: 1px;
    background-image: linear-gradient(
            to right,
            transparent,
            colors.$gray-400 20%,
            colors.$gray-400 50%,
            transparent 100%
    );
}

.border-common {
    border-top: solid variables.$rarity-width colors.$rarity-common;
}
.border-uncommon {
    border-top: solid variables.$rarity-width colors.$rarity-uncommon;
}
.border-rare {
    border-top: solid variables.$rarity-width colors.$rarity-rare;
}
.border-very-rare {
    border-top: solid variables.$rarity-width colors.$rarity-very-rare;
}
.border-legendary {
    border-top: solid variables.$rarity-width colors.$rarity-legendary;
}
