@use 'colors';
@use 'fonts';
@use 'variables';

:root {
    background: colors.$black;
    color: colors.$gray-200;

    font-size: 14px;

    @include fonts.bookmania;
}

html {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 16px;
}

body {
    background: radial-gradient(colors.$gray-800, colors.$gray-950);
    max-height: 100vh;
}

#outer {
    height: 100vh;
    overflow: hidden;
    padding: 0.5rem 2rem 1rem;
    display: flex;
    flex-direction: column;
}

#page {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    gap: 2rem;
}

.page-container-outer{
    width: 100%;
}
.page-container {
    display: flex;
    width: 100%;
    overflow: auto;
}

.container {
    background: colors.$black-50;
    border-radius: 1rem;
    padding: 0 1rem;
}

#header {
    display: flex;
    justify-content: space-between;
}

button {
    background: none;
    border: none;
}
