@use 'colors';
@use 'fonts';
@use 'variables';

:root {
    background: colors.$black;
    color: colors.$gray-200;

    font-size: 14px;

    @include fonts.bookmania;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-size: 16px;
}

body {
    background: radial-gradient(colors.$gray-800, colors.$gray-950);
}

#__nuxt {
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
}

#outer {
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#page {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    gap: 2rem;
}

.page-container-outer{
    width: 100%;
}
.page-container {
    width: 100%;
    overflow: auto;
}
.teaser-container {
    align-items: flex-start;
    justify-content: center;
}

.container {
    background: colors.$black-50;
    border-radius: 1rem;
    padding: 0 1rem;
}

#header {
    display: flex;
    justify-content: space-between;
}

button {
    background: none;
    border: none;
}

.page-content {
    width: 100%;
}
