@use 'colors';
dsf
table {
    font-size: 125%;
    background: red;
}

thead > tr {
    border-bottom: 0.1rem solid colors.$bg-active;
}

tbody > tr {
    &:nth-child(even) {
        background-color: colors.$white-20;
    }
    &:hover {
        background-color: colors.$white-40;
    }

    > td {
        padding: 0.25rem 0.5rem;
    }
}
