@use 'animations';
@use 'sass:color';
@use 'colors';
@use 'fonts';
@use 'mixins';
@use 'variables';

$width: 12rem;
$height: 17rem;

.teaser {
    background: colors.$black-20;
    flex-shrink: 1;
    position: relative;
    transition:
        color 250ms ease-in-out,
        background 500ms ease-in-out,
        transform 500ms ease-in-out,
        box-shadow 500ms ease-in-out;
    transform-origin: top left;
    @include animations.animate(fadeIn, calc(2 * #{variables.$default-delay}));

    > img {
        margin: auto;
    }

    > .badge-container {
        position: absolute;
        top: 0.5rem;
        right: 0;
    }
}

.teaser-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: colors.$black-80;
    display: flex;
    flex-direction: column;

    h3 {
        font-size: 1.75rem;
        line-height: 1.5rem;
        padding: 0.5rem;
        text-align: center;
        @include mixins.text-shadow;
    }
    span.subtitle {
        display: block;
        font-size: 1.2rem;
        text-align: center;
        margin-top: -0.5rem;
    }
    .edition-strip {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
