@use 'colors';

a {
    color: colors.$text;
    text-decoration: none;
}

.text-active {
    color: colors.$text-active;
}
.text-dark {
    color: colors.$text-dark;

    &.active {
        color: colors.$text-dark-active;
    }
    &:hover {
        color: colors.$text-dark-hover;
    }
}
