@use 'colors';

a {
    color: colors.$text;
    text-decoration: none;
}

.prose {
    font-size: 1.25rem;
    font-weight: 300;

    ul {
        list-style-type: disc;
        list-style-position: inside;
    }
}

.text-active {
    color: colors.$text-active;
}
.text-dark {
    color: colors.$text-dark;

    &.active {
        color: colors.$text-dark-active;
    }
    &:hover {
        color: colors.$text-dark-hover;
    }
}
