@use 'colors';

a {
    color: colors.$text;
    text-decoration: none;

    &.link {
        text-decoration: dotted underline;

        &:hover {
            text-decoration: underline;
        }
    }
}

.text-active {
    color: colors.$text-active;
}
.text-dark {
    color: colors.$text-dark;

    &.active {
        color: colors.$text-dark-active;
    }
    &:hover {
        color: colors.$text-dark-hover;
    }
}
.text-muted {
    color: colors.$text-muted;
}

.prose {
    > p:not(:first-child) {
        margin-top: 1rem;
    }

    > ul {
        list-style: disc;
        margin-left: 1.5rem;
    }
}
