@use 'colors';

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
    margin: 0;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1rem;
}
h6 {
    font-size: 0.8rem;
}

a {
    color: colors.$text;
    text-decoration: none;
}

.prose {
    font-size: 1.25rem;
    font-weight: 300;

    ul {
        list-style-type: disc;
        list-style-position: inside;
    }
}

.text-active {
    color: colors.$text-active;
}
.text-dark {
    color: colors.$text-dark;

    &.active {
        color: colors.$text-dark-active;
    }
    &:hover {
        color: colors.$text-dark-hover;
    }
}
