@use 'colors';

a {
    text-decoration: none;

    &.link {
        text-decoration: dotted underline;

        &:hover {
            text-decoration: underline;
        }
    }
}

.prose {
    > p:not(:first-child) {
        margin-top: 1rem;
    }

    > ul {
        list-style: disc;
        margin-left: 1.5rem;
    }
}
