@use 'tailwindcss';
@use '@nuxt/ui';

@use 'colors';
@use 'variables';
@use 'fonts';

@use 'layout';
@use 'lists';

@theme {
    --color-highlight: #{colors.$white-80};
}

/**
 * Defaults
 */
.default-padding {
    padding: 0.5rem 1rem;
}

.transform-perspective {
    transform:
        perspective(75em)
        rotateX(10deg);
}


.transform-perspective:hover {
    transform:
        rotateX(0deg);
}

.markdown a {
    text-decoration: underline;
}

.ml-auto {
    margin-left: auto;
}

/*
 * Scrollbar stylings
 */
.scrollbar {
    overflow-y: hidden;
    padding-right: 0.5rem;
    scrollbar-gutter: stable both-edges;

    &:hover {
        overflow-y: auto;
    }
}

::-webkit-scrollbar {
    width: variables.$scrollbar-width;
    height: variables.$scrollbar-width;
}

/* Track */
::-webkit-scrollbar-track {
    background: colors.$black-20;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: colors.$gray-500;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: colors.$gray-700;
}

button:disabled {
    cursor: not-allowed;
}
