@font-face {
    font-family: 'TiamatCondensed';
    src: url('/fonts/TiamatCondensed.woff2') format('woff2');
}

@font-face {
    font-family: 'Bookmania';
    src: url('/fonts/Bookmania.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Bookmania';
    src: url('/fonts/BookmaniaBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Bookmania';
    src: url('/fonts/BookmaniaItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Bookmania';
    src: url('/fonts/BookmaniaBoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

