@use 'colors';
@use 'variables';
@use 'mixins';

.bg-default {
    background-color: colors.$bg-default;
    transition: background variables.$default-delay ease-in-out;

    &.active {
        background-color: colors.$bg-active;
    }
    &:hover {
        background-color: colors.$bg-hover;
    }
}

.bg-black20 {
    background-color: rgba(0, 0, 0, 0.2);
}
