@use 'colors';
@use 'variables';
@use 'mixins';

.bg-default {
    background-color: colors.$bg-default;
    transition: background variables.$default-delay ease-in-out;

    &.active {
        background-color: colors.$bg-active;
    }
    &:hover {
        background-color: colors.$bg-hover;
    }
}

.bg-black20 {
    background-color: rgba(0, 0, 0, 0.2);
}

/**
 * Edition colors and backgrounds.
 */
@each $edition, $base, $active, $hover in variables.$editions {
    .bg-#{$edition} {
        background-color: $base;
        transition: background-color variables.$default-delay ease-in-out;

        &:hover {
            background-color: $hover;
        }
        &.active {
            background-color: $active;
        }
    }

    .bg-#{$edition}-active {
        background-color: $active;
    }
    .bg-#{$edition}-hover {
        background-color: $hover;
        color: colors.$white;
    }
}

.bg-yellowed.active {

}
.bg-yellowed {
    @include mixins.backgroundYellowedDisabled;

    &.active {
        @include mixins.backgroundYellowed;
    }
}
