@use 'colors';
@use 'variables';
@use 'mixins';

.bg-default {
    background-color: colors.$bg-default;
    transition: background variables.$default-delay ease-in-out;

    &.active {
        background-color: colors.$bg-active;
    }
    &:hover {
        background-color: colors.$bg-hover;
    }
}

.bg-black20 {
    background-color: rgba(0, 0, 0, 0.2);
}

.bg-edition-1 { background-color: colors.$edition-1; }
.bg-edition-1-active { background-color: colors.$edition-1-active; }
.bg-edition-2 { background-color: colors.$edition-2; }
.bg-edition-2-active { background-color: colors.$edition-2-active; }
.bg-edition-3 { background-color: colors.$edition-3; }
.bg-edition-3-active { background-color: colors.$edition-3-active; }
.bg-edition-4 { background-color: colors.$edition-4; }
.bg-edition-4-active { background-color: colors.$edition-4-active; }
.bg-edition-5 { background-color: colors.$edition-5; }
.bg-edition-5-active { background-color: colors.$edition-5-active; }
.bg-edition-2024-active { background-color: colors.$edition-2024-active; }
