@use 'animations';
@use 'colors';
@use 'fonts';
@use 'mixins';

.book-container {
    height: 100%;
    display: flex;

    .book {
        background: radial-gradient(colors.$yellow-50, colors.$yellow-100);
        border-radius: 1rem;
        color: colors.$text-dark;
        max-width: 48rem;
        max-height: 100%;
        padding: 1rem 2rem;
        position: relative;
        width: 48rem;
        @include animations.animate(fadeIn);

        > .book-header {
            @include fonts.modesto;
            border-bottom: 0.1rem solid colors.$text-dark;
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
        }

    }
}
