@use 'variables/colors';

.bg-edition-1 {
    background-color: colors.$edition-1-hover;
}
.bg-edition-2 {
    background-color: colors.$edition-2-hover;
}
.bg-edition-3 {
    background-color: colors.$edition-3-hover;
}
.bg-edition-4 {
    background-color: colors.$edition-4-hover;
}
.bg-edition-5 {
    background-color: colors.$edition-5-hover;
}
.bg-edition-2024 {
    background-color: colors.$edition-2024-hover;
}
