@use 'colors';
@use 'variables';

a.link {
    text-decoration: dotted underline;

    &:hover {
        color: colors.$text-hover;
        text-decoration: underline;
    }
    &.text-dark {
        &:hover {
            color: colors.$text-dark-hover;
        }
    }
}

.item-link {
    background-color: transparent;
    color: colors.$text-dark;
    transition: background-color variables.$default-delay ease-in-out;

    &:hover {
        background-color: colors.$black-20;
    }
}
