@use 'colors';
@use 'variables';

a.link {
    text-decoration: dotted underline;

    &:hover {
        color: colors.$text-hover;
        text-decoration: underline;
    }
}

.yellowed {
    a {
        background-color: transparent;
        transition: background-color variables.$default-delay ease-in-out;

        &:hover {
            background-color: colors.$yellow-300-50;
        }
    }
}
