@use 'sass:color';
@use 'colors' as c;

@mixin text-shadow {
    text-shadow: 2px 2px 0 c.$shadow;
};
@mixin heavyShadow {
    box-shadow: 5px 5px 15px 5px c.$shadow;
}
@mixin drop-shadow {
    box-shadow:
        rgba(22, 31, 39, 0.42) 0 60px 123px -25px,
        rgba(19, 26, 32, 0.08) 0 35px 75px -35px;
};

@mixin rotate-towards($amount) {
    transform: perspective(75rem) rotateX($amount);
    transition: 500ms ease-in-out;

    &:hover {
        transform: scale(105%);
    }
};
@mixin outer-glow {
    box-shadow: 0 0 1rem 0.25rem color.scale(c.$white, $lightness: -50%);
}

@mixin stripes($colorDark, $colorLight, $gap) {
    background: repeating-linear-gradient(
            -45deg,
            $colorDark,
            $colorDark $gap,
            $colorLight $gap,
            $colorLight calc($gap * 2)
    );
}

@mixin backgroundBlack($opacity) {
    background-color: rgba(0, 0, 0, $opacity);
}
@mixin backgroundWhite($opacity) {
    background-color: rgba(255, 255, 255, $opacity);
}
@mixin backgroundYellowed() {
    @include backgroundRadial(c.$yellow-50, c.$yellow-100);
}
@mixin backgroundYellowedDisabled() {
    @include backgroundRadial(rgb(186, 180, 141), rgb(161, 156, 121));
}
@mixin backgroundRadial($from, $to) {
    background: radial-gradient($from, $to);
}

@mixin backgroundHorizontalGradient($baseColor, $lightness) {
    background-image: linear-gradient($baseColor, color.scale($baseColor, $lightness));
}

@mixin loading {
    animation: skeleton 2s infinite linear;
    background-color: c.$gray-500;
}

@keyframes skeleton {
    0%,
    100% {
        opacity: 50%;
    }
    50% {
        opacity: 10%;
    }
}

@mixin defaultPadding {
    padding: 0.5rem 1rem;
}
