@use 'colors';
@use 'variables';
@use 'fonts';

p {
    margin-bottom: 1rem;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1rem;
}
h6 {
    font-size: 0.8rem;
}

a {
    color: colors.$text;
}

.page-title {
    @include fonts.modesto;
}

.prose {
    font-size: 1.5rem;
    font-weight: 300;
}

.text, .text-default {
    color: colors.$text;
    transition: color variables.$default-delay ease-in-out;

    &.active {
        color: colors.$text-active;
    }
    &:hover {
        color: colors.$text-hover;
    }
}
.text-active {
    color: colors.$text-active;
}
.text-dark {
    color: colors.$text-dark;

    &.active {
        color: colors.$text-dark-active;
    }
    &:hover {
        color: colors.$text-dark-hover;
    }
}
