@import 'tailwindcss';
@import '@nuxt/ui';


@theme {
    --text-base: 20px;

    --animate-bounce-left: bounce-left 1s infinite;

    --ui-border: #fff;

    @keyframes bounce-left {
        0%, 100% {
            transform: none;
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
            transform: translateX(-25%);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }
}

html {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-size: 20px;
}

body,
div#__nuxt {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.transform-perspective {
    transform:
        perspective(75em)
        rotateX(10deg);
}


.transform-perspective:hover {
    transform:
        rotateX(0deg);
}

.markdown a {
    text-decoration: underline;
}
