@import 'tailwindcss';
@import '@nuxt/ui';

@layer base {
    @font-face {
        font-family: 'Mrs Eaves';
        src: url('/fonts/mrs-eaves-small-caps-400.otf') format('opentype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        font-feature-settings: 'scmp';
    }
    @font-face {
        font-family: 'Scaly Sans';
        src: url('/fonts/scaly-sans-400.otf') format('opentype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Scaly Sans';
        src: url('/fonts/scaly-sans-400-italic.otf') format('opentype');
        font-weight: 400;
        font-style: italic;
        font-display: swap;
    }
    @font-face {
        font-family: 'Scaly Sans';
        src: url('/fonts/scaly-sans-700.otf') format('opentype');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Scaly Sans';
        src: url('/fonts/scaly-sans-700-italic.otf') format('opentype');
        font-weight: 700;
        font-style: italic;
        font-display: swap;
    }
}

@theme {
    --font-eaves: 'Mrs Eaves', sans-serif;
    --font-scaly: 'Scaly Sans', sans-serif;
    --color-primary: oklch(63.7% 0.237 25.331);
    --color-highlight: oklch(70.7% 0.022 261.325);
}
