@use 'colors';
@use 'variables';
@use 'fonts';
@use 'tabs';
@use 'typography';
@use 'tailwindcss';
@use '@nuxt/ui';
@use 'mixins';
@use 'nuxt-ui/router';

@forward 'backgrounds';
@forward 'fonts';
@forward 'typography';

:root {
    background: colors.$black;
    color: colors.$gray-200;

    font-size: 14px;

    @include fonts.bookmania;
}

html {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 16px;
}

body {
    background: radial-gradient(colors.$gray-800, colors.$gray-950);
    max-height: 100vh;
}

#__nuxt {
    height: 100vh;
    overflow: hidden;
    padding: 0.5rem 2rem 1rem;
    display: flex;
    flex-direction: column;
}

#content {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

/**
 * Defaults
 */
.default-padding {
    padding: 0.5rem 1rem;
}

.transform-perspective {
    transform:
        perspective(75em)
        rotateX(10deg);
}


.transform-perspective:hover {
    transform:
        rotateX(0deg);
}

.markdown a {
    text-decoration: underline;
}

.loading {
    @include mixins.loading;
}

.ml-auto {
    margin-left: auto;
}

/*
 * Scrollbar stylings
 */
.scrollbar {
    overflow-y: hidden;
    padding-right: 0.5rem;
    scrollbar-gutter: stable both-edges;

    &:hover {
        overflow-y: auto;
    }
}

::-webkit-scrollbar {
    width: variables.$scrollbar-width;
    height: variables.$scrollbar-width;
}

/* Track */
::-webkit-scrollbar-track {
    background: colors.$black-20;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: colors.$gray-500;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: colors.$gray-700;
}
